.blog-post img{
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 100%;
}

.blog-post h2{
    font-size: 2rem;
}

@media (max-width: 440px) {
    .blog-post img{
        aspect-ratio: 16/9;
    }
}